*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
nav{
    width: 100%;height: 10vh;
    background: rgb(32, 32, 32);
    color: white; display: flex;  justify-content: space-between;
    align-items: center; text-transform: uppercase;
}

nav .logo{
    width: 25%; text-align: center;
    font-size: 1.5rem;
}    

nav .menu{
    width: 50%; text-align: center;
    font-size: 1.8rem;
    display: flex; justify-content: space-around;
}

nav .menu a{
    width: 45%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:hover{
    border-bottom: 0.2rem solid darkgoldenrod;
}

nav .menu a:first-child{
    color: darkgoldenrod;
}
nav .menu a:first-child:hover{
    color: white;
}



.foot{
    width: 100%;height:28vh;
    
    background: rgb(32, 32, 32);
    color: white;
    display: flow-root;
    padding-top: 1.8rem;
    text-align: center;
}

.foot .flogo{
    font-size: 2rem;
    font-weight: 120;
}
.address .loc{
    font-size: 1.8rem;
    
}

.foot .address{
    font-size: 2rem;
}

.address .link {
    color: darkgoldenrod;
}
.address .link:hover{
    color: white;
}
.pages{
    text-align: left;
    margin-left: .2rem ;
}
.fab{
    color: darkgoldenrod
}
.fab:hover{
    color: white;
}
.far{
    color: darkgoldenrod;

}

.fas{
    color: darkgoldenrod;
}
@media(max-width:998px) {
    html{
        font-size: 55%;
    }
}
@media(max-width:768px) {
    html{
        font-size: 45%;
    }
}
body {
    background: whitesmoke;
    text-align: center;
}

.head {
    font-family: 'Montserrat', sans-serif;
    font-size: 59px;
    color: rgb(32, 32, 32);
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: rgb(32, 32, 32);
}

p,
input,
textarea,
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: rgb(49, 49, 49);
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(49, 49, 49);
}

input[type=submit] {
    background-color: darkgoldenrod;
    padding: 15px 0;
    color: black;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: black;
    color: white;
}

input,
textarea {
    color: rgb(32, 32, 32);
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid rgb(49, 49, 49);
}

a {
    color: rgb(32, 32, 32);
    
}

a:hover {
    color: #fff;
}